body {
margin: 0;
padding: 0;
font-family: 'PT Sans', sans-serif;
font-size: 13px;
line-height: 24px;
font-weight: 400;
color: #000000;
background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}
.top-nav li {
  list-style-type: none;
}
.profile-list li {
  list-style-type: none;
}
.main-navigation li {
  list-style-type: none;

}
.container-main-nav {
  padding-bottom: 60px;
  width: 940px;
  margin: 0 auto;
}
.filter-list li {
  list-style-type: none;
}
.footer li {
  list-style-type: none;
}
.bottom li {
  list-style-type: none;
}
.top-nav {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  width: 940px;
}
.logo img{
  padding: 10px;

}
.logo {
  background-color: #ee3643;
  text-align: center;
  width: 220px;
  box-shadow: 0px 5px 0 0 #b52933;
}
.logo:hover {
  background-color: #ca2c37;
}
.logo.activ {
  background-color: #ba2732;
}

input[type="search"] {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 18px;
  background: transparent;
  border: none;
  padding-top: 13px;
  padding-bottom: 12px;
  width: 100%;
  outline: none;
}

::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}
:-moz-placeholder           {color:#ffffff;}
:-ms-input-placeholder      {color:#ffffff;}

.main-navigation {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  padding-left: 23px;
  padding-right: 20px;
}
.main-navigation a  {
  padding: 20px 30px;
}
.icon {

}


.description {
  font-family: 'Cuprum', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin-left: 53px;
  padding-top: 0px;

}
.address{
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.lightblue{
  background-color: #f3f7f9;
  width: 100%;
  margin: 0 auto;
}

.border-phone {
  width: 264px;
  height: 45px;
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-phone {
  margin-right: 41px;
  margin-left: 13px;
}

.login {
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  width: 121px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon-login{
margin: auto 14px;
fill: #c5c5c5;
}

.login:hover {
  color: #ee3643;
}
.login:active {
  color:#c5c5c5;
}

.login:hover .icon-login {
  fill: #32425c;
}

.login:active .icon-login{
  fill: #c5c5c5;
}

  .login-reg {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    background-color: #ffffff;
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-reg:hover {
    color: #ee3643;
  }

  .login-reg:active {
    color: #c5c5c5;
  }

h1, h2 {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.about p {
  font-family: inherit;
  font-size: 13px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.list li{
  list-style-type: none;
  padding-top: 4.5px;
}
.list {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 20px;
}
.red-button {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  padding: 11px 40px;
  border: none;
  border-radius: 3px;
  margin-top: 40px;
}
.long-button {
  width: 100%;
}
.map-mini {
  overflow: hidden;

}
.map-mini a {
  width: 300px;
  height: 158px;
}

.map-mini img {
  margin: -196px -20px -130px -650px;
}
.footer{
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
  height: 193px;
}
.beige {
  color: #ffd180;
}
.bottom {
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}
.icon-footer {
  text-align: center;
  vertical-align: middle;
  background-color: #212a3a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.modal {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 18px;
  display: none;
}
.write-us input {
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}
.map {
  display: none;
}
.underline {
  text-decoration: underline;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  margin-right: 30px;
}
.breadcrumb {
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.catalog-title {
  color: #32425c;
  background-color: #f2f6f8;
}
.filter-title {
  font-family: inherit;
  font-size: 17px;
  line-height: 30px;
   }
.button-form {
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  width: 140px;
  height: 38px;
}
.price {
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  width: 141px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
}
.old-price {
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}
.item-text {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.buy {
  width: 135px;
  height: 38px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #367315;
  text-transform: uppercase;
}
.bookmark {
  width: 135px;
  height: 38px;
  border-radius: 3px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}
.white-button {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: #ffffff;
}
.modal-background {
  background-color: #f1f1f1;
}
.order:hover {
  background-color: #5fbb2d;
}

.search {
 width: 270px;
 display: flex;
}
.search:hover .icon-search {
  fill: #ffffff;
}
.search-field {
  padding-left: 49px;
  color: #ffffff;

}
.search-field:focus,
.search-field:active{
 background-color: #ffffff;
 color: #000000;

}
.search-field:focus + .icon-search {
  fill: #ee3643;
}
.icon-search  {
  margin-top: 12px;
  margin-right: 13px;
  margin-bottom: 11px;
  margin-left: 17px;
  fill: #6a7180;
  position: absolute;
}
.search:hover,
.user-nav-li:hover {
  background-color: #212a3a;
}

.user-nav-li:hover .icon-bookmark,
.user-nav-li:hover .icon-cart {
  fill: #ffffff;
}
.icon-bookmark{
  margin-top: 12px;
  margin-right: 13px;
  margin-bottom: 11px;
  margin-left: 17px;
  fill: #6a7180;
}
.icon-cart {
  margin-top: 12px;
  margin-right: 13px;
  margin-bottom: 11px;
  margin-left: 17px;
  fill: #6a7180;
}

.user-nav-li:active {
  background-color: #161d29;
  color: #8b8e94;
}
.user-nav-li:active .icon-bookmark,
.user-nav-li:active .icon-cart {
  fill: #8b8e94;
}
.order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}
.top-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-width: 940px;
}
.user-nav{
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: stretch;
  width: 450px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-nav-li {
  padding-right: 31px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;

}
.top-nav-container {
  width: 100%;
  background-color: #293449;
  height: 42px
  margin: 0 auto;
  display: flex;
}

.login-container {
  display: flex;
  flex-direction: row;
  width: 940px;
  height: 112px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 46px;
}
.profile-list {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 281px;
  justify-content: space-between;
  margin: 0;
}
.main-navigation {
  display: flex;
  flex-direction: row;
  height: 60px;
  box-shadow: inset 0 -5px 0 0 #293449;
  align-items: center;
  justify-content: space-around;
}
.main-nav-a:hover {
  background-color: #293449;
}
.main-nav-a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.section-container {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 86px;
}
.container-footer-logo {
  display: flex;
  flex-direction: column;
}
.footer-address {
  padding-left: 3px;
}
footer {
  width: 100%;
  background-color: #32425c;
}
.footer {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.logo-footer img {
  padding: 20px 41px;}

.logo-footer {
  display: block;
  background-color: #ee3643;
  width: 220px;
  height: 63px;
  box-shadow: 0px 5px 0 0 #b52933;
  margin-bottom: 38px;
}

.container-footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.white-nav {
  width: 547px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 0;
}
.beige-list {
  width: 524px;
  display: flex;
  justify-content: space-between;
  color: #ffd180;
  padding-left: 0;
  margin-top: 37px;

}
.bottom {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.list-icon {
  display: flex;
}
.reserved {
  width: 230px;
}
.container-profile {
  display: flex;
  flex-direction: column;
}
.container-main {
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.filter-list {
  width: 220px;
}
.item-card {
  width: 220px;
  /* height: 318px;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e5e5e5;
 margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.order {
background-color: #63a63e;
width: 150px;
height: 100%;
text-align: center;
padding: ;
display: flex;
align-items: center;
margin: 0;
justify-content: center;
}
.list {
  padding-left: 0;
}
.list li {
  padding-bottom: 15px;
}
 .list li::before {
content: '';
display: inline-block;
vertical-align: middle;
background-color: #ee3643;
height: 2px;
width: 25px;
margin-right: 6px;
 }
